@charset "UTF-8";

body {
    background-color: #EDEDED;
}

.flex-counteiner {
    display: flex;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.info {
    margin-top: 40px;
    font-size: 12px;
    color: #8E8E8E;
}

.foto-cell{
    display: flex;
    height: 650px;
    justify-content: center;
    max-width: 100%;
    margin-left: 150px;
}

.login {
    margin-top: 100px;
    height: 246px;
    position: relative;
    left: -100px;
    min-width: 490px;
}

.dados {
    display: flex;
    border: 2px solid #DBDBDB;
    text-align: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.perfil img{
    max-width: 15%;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo img{
    margin-top: 10px;
    max-width: 150px;
    background-color: #FFFFFF;
}

.perfil {
    background-color: #FFFFFF;
}

.logo {
    background-color: #FFFFFF;
}

.button {
    display: flex;
    align-items: center;
    height: 20px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #0095F6;
    color: white;
}

.button p {
    background-color: #0095F6;
}

.divider {
    color: gray;
    font-size: 15px;
    position: relative;
    top: 15px;
}

.divider::after {
    position:absolute;
    content: " ";
    width: 100px;
    height: 2px;
    border-top: 1px solid #aaa;
    top: 20px;
    right: 70px;
    padding: 20px;
    opacity: 30%;
}

.divider p {
    margin-top: 8px;
    padding: 2px;
    text-transform: uppercase;
}

.divider::before {
    position:absolute;
    content: " ";
    width: 100px;
    height: 2px;
    border-top: 1px solid #aaa;
    top: 20px;
    left: 70px;
    padding: 20px;
    opacity: 30%;
}

.remove a{
    color: #0095F6;
    display: flex;
    text-decoration: none;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
}



.opcoes{
    display: flex;
    color: #a5a4a4;
    margin-top: 50px;
    background-color: #FFFFFF;
    border: 1px solid #dad8d8;
    padding: 10PX;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.opcoes p {
    align-items: center;
    margin: auto;
    background-color: #FFFFFF;
}

.opt2{
    background-color: #FFFFFF;
}

.opt2 a {
    background-color: #FFFFFF;
}

.opcoes a {
    text-decoration: none;
    color: #0095F6;
}

.flex-counteiner .nav img {
    margin-top: -20px;
    padding: 15px 5px;
    width: 145px;
    height: 40px;
}

.info {
    display: flex;
    justify-content: center;
}

.info p {
    text-align: center;
}

.info a {
    text-decoration: none;
    margin: 1px 1px 10px 10px;
    color: #a5a4a4;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
}

.footer p {
    font-size: 12px;
    color: #a5a4a4;
}

/*Mobile*/

@media(max-width: 1080px) {
    .flex-counteiner {
        align-items: center;
    }

    .flex-counteiner .nav img{
        display: flex;
       flex-direction: column-reverse;
    }

    .opcoes {
        max-width: 95.5%;
        margin-top: 5px;
    }

    
    .login {
        max-width: 100vh;
        justify-content: center;
        margin-top: 10px;
        margin-left: 200px;
    }

    .foto-cell{
        display: none;
    }

    .foot {
       margin-left: 30px;
    }

    .button{
        justify-content: center;
        flex-direction: row;
        min-width: 10%;
    }

    .divider {
        color: gray;
        font-size: 15px;
        position: relative;
        top: 15px;
    }
    
    .divider::after {
        position:absolute;
        content: " ";
        width: 100px;
        height: 2px;
        border-top: 1px solid #aaa;
        top: 20px;
        right: 70px;
        padding: 20px;
    }
    
    .divider p {
        margin-top: 8px;
    }
    
    .divider::before {
        position:absolute;
        content: " ";
        width: 100px;
        height: 2px;
        border-top: 1px solid #aaa;
        top: 20px;
        left: 70px;
        padding: 20px;
    }

    .info {
        display: block;
        margin-top: 300px;
        
    }
    
    .info p {
        text-align: center;
    }
    
    .info a {
        text-decoration: none;
        margin: 1px 1px 10px 10px;
        color: #a5a4a4;
    }
    
    .footer {
        position: relative;
        top: -10px;
    }
    
    .footer p {
        font-size: 12px;
        color: #a5a4a4;
    }
}

@media (max-width: 1000px) {
    .login {
       position: relative;
       min-width: 70vh;
    }
}


